<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/blogLayout.css">
    <title>Blog</title>
    <style>
        .container {
            display: grid;
            gap: 10px;
            border: dashed #000 1px;
            background-color: #aaa;
            padding: 15px;
        }

        .card {
            padding: 15px;
            border: solid #444 1px;
            border-radius: 15px;
            background-color: #fff;
        }

        .button {
            text-decoration: none;
            color: #fff;
            padding: 15px;
            display: block;
            width: fit-content;
            margin-top: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
        }

        .button-green {
            background-color: rgb(0, 131, 33);
        }
    </style>
</head>
<body>
    
    <h1>Blog Articles</h1>
    <a href="/articles/new" class="button button-green">New Article +</a>
    <div class="container">
        <% articles.forEach(article => { %>
            <div class="card">
                <h2><%= article.title %></h2>
                <h3><%=article.createdAt%></h3>
                <p><%=article.description%></p>
            </div>
        <% }) %>
    </div>
</body>
</html>