<div class="form-group">
    <label for="title">Title</label>
    <input required value="<%= article.title %>" type="text" name="title" id="title" class="block">
</div>

<div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description" class="textarea block"></textarea>
</div>

<div class="form-group">
    <label for="markdown">Markdown</label>
    <textarea name="markdown" id="markdown" class="textarea block"></textarea>
</div>

<a href="/" class="button button-grey">Cancel</a>
<button type="submit" class="button-blue button">Save</button>